<table width="500">
	<tr>
		<th>成本</th>
		<th>项目</th>
		<th>单位承担</th>
		<th>个人承担</th>
		<th>合计</th>
	</tr>
	<tr>
		<td><input type="text" name="cost_item_1" id="cost_item_1" value="0" size="5" /></td>
		<td><%= link_to '人力成本','/' %></td>
		<td><input type="text" name="enterprise_item_1" id="enterprise_item_1" value="0" size="5" /></td>
		<td><input type="text" name="person_item_1" id="person_item_1" value="0" size="5" /></td>
		<td></td>
	</tr>
	<tr>
		<td><input type="text" name="cost_item_1" id="cost_item_1" value="0" size="5" /></td>
		<td><%= link_to '社会保险','/' %></td>
		<td><input type="text" name="enterprise_item_1" id="enterprise_item_1" value="0" size="5" /></td>
		<td><input type="text" name="person_item_1" id="person_item_1" value="0" size="5" /></td>
		<td></td>
	</tr>
	<tr>
		<td colspan="3" align="right">
			<strong>Human Total:</strong>
		</td>
		<td align="center" id="humanTotal">
		</td>
	</tr>
</table>