<table width="500">
	<tr>
		<th>
			开票金额
		</th>
		<th align="left">
			税种
		</th>
		<th>
			税率
		</th>
		<th>
			附加费
		</th>				
		<th>
			合计
		</th>
	</tr>
	<tr>
		<td align="center">
			<input type="text" name="qty_item_1" id="qty_item_1" value="0" size="5" />
		</td>
		<td>
			<a href="http://www.packtpub.com/jQuery/book">商业增值税</a>
		</td>
		<td align="center">
			<input type="text" name="price_item_1" id="price_item_1" value="3" size="1" />%
		</td>
		<td align="center">
							<input type="text" name="zpa_item_1" id="zpa_item_1" value="5" size="1" />%
		</td>
		<td align="center" id="total_item_1">
			
		</td>
	</tr>
	<tr>
		<td align="center">
			<input type="text" name="qty_item_1" id="qty_item_1" value="0" size="5" />
		</td>
		<td>
			<a href="http://www.packtpub.com/jQuery/book">服务业营业税</a>
		</td>
		<td align="center">
			<input type="text" name="price_item_1" id="price_item_1" value="5" size="1" />%
		</td>
		<td align="center">
			<input type="text" name="zpa_item_1" id="zpa_item_1" value="5" size="1" />%
		</td>
		<td align="center" id="total_item_1">
			
		</td>
	</tr>
	<tr>
		<td colspan="3" align="right">
			<strong>Grand Total:</strong>
		</td>
		<td align="center" id="grandTotal">
		</td>
	</tr>
</table>

