<script>
	$(document).ready(function() {
	//折叠问题效果
	   $('#xkr').click(function() {
	     $('.ak').hide();
	   });
	});
</script>

	<div class="ak">
	<div id="xbs" class="xv"> 最新动态 </div>
	<a id="xkr" href="javascript:;">知道了</a>
	</div>