<% if !@noti.empty? %>

	<div class="ak">
	<div id="xbs" class="xv"> 
	
		<% @noti.each do |message| %> 
			<li><%= message.message %></li>
		<% end %>
	</div>
		
	<%= link_to '知道了', notification_path, :remote => true, :method => :delete, :id =>'xkr' %>
	</div>
<% end %>