	<div class="red"><span id="title_user_link"><%= @establish.name %></span></div>
	<% @chapter.each do |chapter| %>
	<div class="top"><%= link_to chapter.name,new_establish_path(:id => params[:id],:more => chapter.id), :remote => true, :id => "new_user_link", :class => "link" %></div>
	<% end %>