
<div class="side_tabs right_side_tabs">
	<ul class="list_contents">
		<% @chapter.each do |chapter| %>
		<li class="tab linked_list_item first">
			
			<span <%=raw "class=\'link selected'" if chapter.id == params[:more].to_i %>>
				<%= link_to chapter.name, new_establish_path(:id => params[:id],:more => chapter.id), :remote => true, :id => "new_user_link", :class => "link" %>
			</span>
		</li>
		<% end %>
	</ul>
</div>