	<dd>

<div class="xkq">
	<%= image_tag '/images/info.png' %>
</div>

<div>
	
	<% if @tips.count == 0 %>
	
		<%=raw '&nbsp' %>
	
	<% else %>
	
		<% @tips.each do |tips| %>
		<div class="xiq">
					<li><%= link_to tips.name,tips.tips_link %></li>
		</div>
		<% end %>

	<% end %>

</div>
</dd>