<% if @zhihu == true %>
	<dd>
		<div>
		<%= link_to  '知乎', '#',:class => 'xhq_zhihu' %>
		</div>
	
		<div class="xsq">
			<% @partners.each do |partners| %>
			<li><%= link_to partners.name,partners.partner_link %></li>
			<% end %>
		</div>
	</dd>
<% end %>