<div class="content_main">
		<% @establishes.each do |establish| %>
			<div class="content_left">
		</br>
		<div class="content_unit_name"><%= establish.name %></div>
		<% establish.chapter.each do |chapter| %>
		<div class="content_unit_desc"><%= link_to chapter.name, establish_path(establish) %></div>
		<% end %>
			</div>
		<% end %>
</div>