<%= render 'shared/message' %>

<div class="content_main">
	<div class="content_left">
		<%= render 'newfaq' %>
	</div>
	<div class="content_right">
		<%= render 'shared/sidebar' %>
	</div>
</div>

<div id="blank"></div>

<%= javascript_include_tag "/javascripts/ckeditor/ckeditor.js" %>

<div class="xr xpt" id='jsform'>

</div>