<div class="content_main">
	<div id="index_title">
		<div id="tanmeng_big_banner"></div>
		<div id="index_features"></div>
	</div>

	<div class="content_left">
		<div class="content_warp">
			<h2>如何入手</h2></br>
			如果您是初学者，请您阅读《初级教程》。</br>
			如果您是开发者，请您阅读《高级教程》。</br>
			除此之外，我还能做什么？
		</div>
		<div class="content_warp">
			<h2>哪些工具可以用？</h2></br>
			税务成本计算器 | 营业税计算器 | 人力成本计算器 | 企业财务事务提醒
		</div>
		
		<div class="content_warp">
			<h2>最近话题更新</h2></br>
						<%= @note.que %></br>
				<div class='black_link'>

			<%=raw @note.ans %>
			</div>
		</div>
		
		<div class="content_warp">
			<h2>提一个问题</h2></br>
		</div>
	</div>
	
	
	<script>
		$(document).ready(function(){ 
			$(".red").click(function()
			{
			    $(this).next("div.content-top").slideToggle(300).siblings("div.content-top").slideUp("slow");
			    $(this).siblings();
			});
			$("div.back-right").hover(function()
			{
			    $(this).next().slideToggle(0).siblings("div.content-top").slideUp("slow");
			});
		});
	</script>
	
	<div class="content_right">
		<div class="red-hat">快速导航</div>
		<% @establishes.each do |establish| %>
		<div class="red"><%= link_to establish.name,'javascript:;' %></div>
		<div class="content-top">
			<% establish.chapter.each do |chapter| %>
			<div class="top"><%= link_to chapter.name,'/' %></div>
			<% end %>
		</div>
		<% end  %>
	<div class="red-footer"></div>
	</div>
</div>