<div calss="content_main">
	<div id="index_title">
		<div id="tanmeng_big_banner"></div>
		<div id="index_features"></div>
	</div>
	<div class="content_form">
		<%= render 'signin' %>	
	</div>	
</div>
