<%= render 'shared/message' %>




<div class="xr xpt">
	
	<ul class="xph xq">
		<div class="xoh">
		<a class="xo xmh xnh" href="/log/questions">
		<h1>关键词</h1>
		</a>
		</div>
		<div class="xoh">
		<a class="xo xmh xnh" href="/log/questions">
		<h1>实战经验</h1>
		</a>
		</div>
	</ul>
	
	<div class="xlr" id="nobody">
		<%= render 'thread' %>
	</div>



	<div class="xjr">
			
			
		<%= render 'shared/sidebar' %>
		
	</div>
</div>
