/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

/* ----- Global Items ----- */

html {
  font-size: 16px;
  height: 100%;
}
body {
  min-height: 100%;
  min-width: 960px;
  position: relative;
}


body, input, textarea, select, button {
    color: #222222;
    font: 13px/22px 'Helvetica Neue',Helvetica,Arial,Sans-serif;
    word-wrap: break-word;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}
a {
    color: #D09826;
}
a {
    text-decoration: none;
}

a:hover{
	color: #548B02;
}

h1, h2, h3, h4, h5 {
    font-size: 14px;
    font-weight: bold;
    margin: 0 0 10px;
    outline: medium none;
}







div {
    outline: medium none;
}


.xr {
    margin: 0 auto;
    width: 960px;
}

.xlr {
    float: left;
    width: 690px;
}

.xjr {
    float: left;
    margin: 0 0 0 0px;
    width: 270px;
}

.xjr input{
	width: 200px;
}

.xpt {
    min-height: 340px;
    padding: 25px 0 50px;
}

.edit {
	width: 500px;
}




/*BODY*/


/*HEADER*/
#csNav ul {
    list-style: none outside none;
}
#csNav #csLogo {
    background: url("/images/logo.png") no-repeat scroll center center transparent;
    border: medium none;
    float: left;
    height: 40px;
    margin: 0 10px 0 0;
    text-indent: -9999em;
    text-transform: capitalize;
    width: 90px;
}
#csNav {
    background-color: #281F23;
    background-image: -moz-linear-gradient(19% 75% 90deg, #251D21, #30292C);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    color: #888888;
    font: 12px/14px Tahoma,Arial,sans-serif;
    height: 40px;
    min-width: 940px;
    padding: 0 30px;
}
#csNav li {
    float: left;
}



#csNav li a, #csNav #csUser, #csNav #csSession {
    border-right: 1px solid #3C3437;
    color: #888888;
    display: block;
    line-height: 40px;
    padding: 0 10px;
    text-decoration: none;
    text-transform: lowercase;
}
#csNav #csSession {
    border: medium none;
    float: right;
}
#csNav li a, #csNav #csUser, #csNav #csSession {
    border-right: 1px solid #3C3437;
    color: #888888;
    display: block;
    line-height: 40px;
    padding: 0 10px;
    text-decoration: none;
    text-transform: lowercase;
}
#csNav #csUser {
    float: right;
    padding-left: 40px;
    position: relative;
}
#csNav li a, #csNav #csUser, #csNav #csSession {
    border-right: 1px solid #3C3437;
    color: #888888;
    display: block;
    line-height: 40px;
    padding: 0 10px;
    text-decoration: none;
    text-transform: lowercase;
}

/*FOOTER*/

#footer-wrap {
    background: none repeat scroll 0 0 rgba(21, 21, 21, 0.7);
    border-top: 1px solid rgba(0, 0, 0, 0.7);
    bottom: 0;
    height: 50px;
    min-width: 960px;
    width: 100%;
    position: absolute;
}

#footer-font {
	text-align:center;
	color:#FFF;
	padding-top: 10px;
	text-shadow: 1px 2px 1px #222222;
}



/*CONTENT*/
#content-wrap {
    margin: 0 auto;
    min-width: 960px;
    padding: 15px 0;
    position: relative;
    width: 960px;
}

#content {
    margin: 0 auto 40px;
    position: relative;
    width: 948px;
}











#faq dt,#faq dd{

    margin: 0 0 6px;
    padding: 0 0 7px;
}

#faq dt{
		border-bottom: 1px solid #DDDDDD;
}

.xjr li a{
	    color: #888888;
	    display: block;
	    line-height: 40px;
	    padding: 0 10px;
	    text-decoration: none;
	    text-transform: lowercase;

}

li{
	list-style-type:none;
	border-left: 1px solid #3C3437;
	}

.xhq_zhihu,.xhq_down,.xhq_ans {
	    border-radius: 4px 4px 4px 4px;

	    float: left;
	    font-size: 12px;
	    font-weight: bold;
	    height: 20px;
	    line-height: 20px;
	    overflow: hidden;
	    text-align: center;
	    text-decoration: none;
	    width: 30px;

	}

.xhq_ans{
		background: none repeat scroll 0 0 #EEEEEE;
		color: green;
}

.xhq_down{
		background: none repeat scroll 0 0 #EEEEEE;
		color: #FF0000;
}

.xhq_zhihu{
			background: none repeat scroll 0 0 #E1F0F7;
		    color: #578CCA;
}








.xnh {
    background: none repeat scroll 0 0 #F4F4F4;
    display: block;
    height: 55px;
    padding: 0 0 0 20px;
    text-decoration: none;
}

ul a h1{
	font-size: 20px;
	    padding: 15px 0 20px 0;
}
.xo {
	width: 200px;
    border-radius: 5px 5px 5px 5px;
}

#notice{
	color: red;
}



#admin_tool{
	    background-color: #336699;
	    background-image: -moz-linear-gradient(19% 75% 90deg, #251D21, #30292C);
	    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
	    height: 40px;
	    min-width: 920px;
	    padding: 0 5px;
}

#admin_tool p,#admin_tool li a{

    	background-color: #EEEEEE;
	    margin: 5px 2px 0 0;
	    padding: 5px;
	    float: left;
}

#admin_tool span li{
	    padding: 0 0 0 800px;
}

#admin_form{
		     	background-color: #333333;

}

#admin_form span,#admin_form span a{
	font-size: 14px;
	padding: 0 0 0 5px;
	color: #FFFFFF;
}

#admin_form form{
	     	background-color: #EEEEEE;
		    margin: 0 2px 0 2px;
		    padding: 10px;
}